body {
    background-color: #222f3c
}
h1 {
    font-size: 50px;
    text-align: center;
    color: #e1d2b0;
}
p {
    color: #e1d2b0;
    text-align: center;
}
.clarke{
    height: 500px;
    width:300px;

}
img{
    display:block;
    margin:auto;
}
a {
    color: #e1d2b0
}
ul {
    color: #e1d2b0
}
b {
    color: #e1d2b0
}
